
body{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(237,247,249,1) 100%);
}

.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
  align-items: center;
}

.input{
  height: 1.5em;
  border:  1px solid blue;
  border-radius: 15px;
}


