
body{
  background-color: #62f500;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
  align-items: center;
}

.input{
  height: 1.5em;
  border:  1px solid blue;
  border-radius: 15px;
}


